{% extends 'base.html' %}
{% block tittle %} Article List {% endblock %}
{% load static %}
{% block content %}
	<!-- Article List -->
	<div class="container-fluid article-list">
		{% for article in articles %}
			<div class="col-md-4 article-card">
				<div class="article-image">
					<img src="{{ article.image.url }}" alt="{{ article.title }}">
				</div>
				<div class="article-details">
					<h2>{{ article.title }}</h2>
					<div class="excerpt">{{ article.content }}</div>
					<a href="{% url 'article_detail' article.id %}" class="read-more">Read More</a>
				</div>
			</div>
		{% endfor %}
		<button class="back-to-top" onclick="backToTop()">^</button>
	</div>

	<!-- Pagination -->
	<div class="pagination">
		{% if articles.has_previous %}
			<a href="?page=1">&laquo;</a>
			<a href="?page={{ articles.previous_page_number }}">{{ articles.previous_page_number }}</a>
		{% endif %}

		<span class="current-page">{{ articles.number }}</span>

		{% if articles.has_next %}
			<a href="?page={{ articles.next_page_number }}">{{ articles.next_page_number }}</a>
			<a href="?page={{ articles.paginator.num_pages }}">&raquo;</a>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
	<script>
		// Smooth Scroll to Top
		function backToTop() {
			window.scrollTo({top: 0, behavior: 'smooth'});
		}
        // one article fix
        const articleCards = document.querySelectorAll('.article-card');

            if (articleCards.length === 1) {
            articleCards[0].classList.add('single-article');
            }
	</script>
{% endblock %}