{% extends 'base.html' %}

{% block content %}
	<section class="container">
		<article class="article-detail">
			<img class="article-image" src="{{ article.image.url }}" alt="{{ article.title }}">
			<h1 class="article-title">{{ article.title }}</h1>
			<div class="article-meta">
				<span class="article-author">By {{ article.author }}</span>
				<span class="article-date">Posted on {{ article.published_date|date:"F j, Y" }}</span>
                <span class="article-lang">Posted on {{ article.language }}</span>
				<span class="article-category">In {{ article.category }}</span>
				<!-- <span class="article-tags">Tags:
					{% for tag in article.tags.all %}
						<a href="{% url 'articles_by_tag' tag.slug %}">{{ tag }}</a>
						{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</span> -->
			</div>
			<div class="article-body">
				{{ article.content|safe }}
			</div>
		</article>
	</section>
{% endblock %}